@using System.Security.Claims;

<h1>Perfil Empleado: @Context.User.Identity.Name</h1>

<ul class="list-group">
    <li class="list-group-item">
        Oficio: @Context.User.FindFirst(ClaimTypes.Role).Value
    </li>
    <li class="list-group-item">
        Salario: @Context.User.FindFirstValue("Salario")
    </li>
    <li class="list-group-item">
        Departamento: @Context.User.FindFirstValue("Departamento")
    </li>
</ul>
<h2>Todos los Claims</h2>
<ul>
    @foreach(Claim claim in Context.User.Claims)
    {
        <li>
            @claim.Type: <b>@claim.Value</b>
        </li>
    }
</ul>